<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">
    <property name="dialect" value="mysql" />
    </properties>
	<!-- MyBatis实现物理分页 -->
	<settings>
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="30000" />
	</settings>
	<!-- <plugins>
		<plugin interceptor="cn.freeteam.util.OffsetLimitInterceptor"> -->
			<!-- <property name="dialectClass" value="cn.freeteam.util.SQLServerDialect"/> -->
		<!--</plugin>
	</plugins> -->
		<!-- MyBatis实现物理分页 -->
<!-- 	<plugins>
		<plugin interceptor="cn.freeteam.interceptor.PaginationInterceptor" />
	</plugins>
 -->


</configuration>